.search-form {
  margin: 5%;
}

.result_styling {
  border: 1px solid lightgray;
  padding-bottom:2%;
}

.add {
  display: none;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 16px;
  color: white;
  background-color: #87cefa;
  margin-top: 20px
}
.add:hover {
  background-color: #87ceeb;
}

.info-container {
  margin-top: 5%;
 }

.small_poster {
  width: 35%;
}

.del_btn {
  color: white;
}
